<div id="<%= dom_id portfolio %>">
  <p>
    <strong>Name:</strong>
    <%= portfolio.name %>
  </p>

  <p>
    <strong>Balance fiat:</strong>
    <%= portfolio.balance_fiat %>
  </p>

  <p>
    <strong>Balance asset:</strong>
    <%= portfolio.balance_asset %>
  </p>

</div>
