/*
*= require glass
*= require navbar
*= require notifications
*= require assets
*= require titles
*= require forms
*= require quick_add
*= require search
*= require tables
*= require buttons
*= require footer
*/

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");


body {
    min-height: 100vh;
    max-width: 50vw;
    margin: auto;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
