/*
*= require navbar
*= require notifications
*= require assets
*= require titles
*= require forms
*= require search
*= require tables
*= require buttons
*= require footer
*/

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
