.btn {
    padding: 5px 10px;
    font-size: 16px;
    color: #000000;
    background-color: #c05000;
    border: solid 1px #000000;
    border-radius: 0.25rem;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-small {
    padding: 3px 6px;
    font-size: 14px;
}

.btn:hover, .btn.active {
    background-color: #000000;
    border: solid 1px #c05000;
    color: #ffffff;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}
