.spacer {
    margin-top: 3rem;
}

.footer {
    margin-top: auto;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0 3rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
}

.footer p {
    margin: auto 0;
}

.footer-text {
    transition:
        color 0.3s ease,
        background 0.6s;
}

.footer:hover .footer-text {
    color: rgba(255, 255, 255, 1);
}
