.footer {
    margin-top: auto;
    width: 95%;
    padding: 0.025rem;
    border-radius: 1rem;
    text-align: center;
}

.footer-text {
    transition: color 0.3s ease;
}

.footer:hover .footer-text {
    color: rgba(255, 255, 255, 0.85);
}