.new-transaction-form,
.new-portfolio-form,
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 10px;
    padding: 2rem;
    border-radius: 1rem;
    font-size: large;
}

.form-section {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.form-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}
