.navbar {
    position: sticky;
    margin-bottom: 3rem;
    width: 100%;
    padding: 0 3rem;
    border-radius: 9999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    top: 0.5rem;
    z-index: 1000;
}

.navbar h2 {
    margin: auto 0;
}

.nav-title {
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.6s ease;
    color: #c05000;
}

.nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link,
.nav-logout {
    text-decoration: none;
    font-weight: bolder;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 9999px;
    transition:
        color 0.3s ease,
        background 0.6s;
}

.navbar:hover .nav-link:hover,
.navbar:hover .nav-logout:hover {
    background: rgba(255, 255, 255, 0.05);
}

.nav-link:hover {
    color: #c05000;
}

.nav-logout:hover {
    color: #c00000;
}

.nav-title.active,
.nav-link.active {
    color: #c05000;
} 
