.navbar {
    margin-bottom: auto;
    width: 95%;
    padding: 0.025rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar:hover .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.nav-link {
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.3s ease;
}

.navbar:hover .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}
