.assets-table,
.transactions-table,
.portfolios-table,
.coins-table,
.portfolio-details-table,
.transaction-details-table {
    border-collapse: collapse;
    table-layout: auto;
    word-break: break-all;
    width: 100vw;
    padding: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    th, td {
        padding: 6px 8px;
        border: 1px solid #444;
    }

    th {
        background-color: #2727278d;
    }

    .numeric {
        text-align: right;
    }
    
    .main {
        color: #00ff22;
    }

    .main-positive {
        color: green;
    }

    .main-negative {
        color: red;
    }

    .main-neutral {
        color: gray;
    }

    .positive, .negative, .neutral {
        color: white;
        border-radius: 0.1rem;
        padding: 0.1rem;
    }

    .positive {
        background-color: green;
    }

    .negative {
        background-color: red;
    }

    .neutral {
        background-color: gray;
    }
}
