<nav class="navbar">
  <h2><%= link_to 'Tracker', assets_path, class: 'nav-link' %></h2>
  <p><%= link_to 'Assets', assets_path, class: 'nav-link' %></p>
  <p><%= link_to 'Transactions', transactions_path, class: 'nav-link' %></p>
  <p><%= link_to 'New', new_transaction_path, class: 'nav-link' %></p>  
</nav>
